<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>資産管理＜検索＞</title>

	<link rel="stylesheet" th:href="@{/css/asset_search.css}">
	<link rel="shortcut icon" th:href="@{/img/資産.ico}">
</head>
<body>
	<div id = 'header'>
		<br><h1>資産管理ツール＜検索画面</h1>
		<div align = 'right'>
			[[${departmentName}]]&nbsp;[[${displayName}]]
			<a th:href="@{/login?logout}">ログアウト</a><br><br>
		</div>
	</div>
	
<div id='all'>
	
	<div id = 'search_menu' class='inline'>
		<h1 align='center'>【検索めにゅ～】</h1>
		<h3 style= text-align:center>※分類1を指定しない場合は「PC」で検索</h3>
		
		<form name = "search_form" method = 'POST' ><!-- target='_blank' -->
		<ul id = search_window>
			<li class = 'manage_no'>
			<label for = 'manage_no'>■管理番号：</label>
				<input type = 'number' id = 'manage_no' name = 'manage_no' size = "8" value='<%MANAGE_NO%>'>
			</li>
			<li class = 'category1'>
			<label for = 'category1'>■分類1：</label>
				<select class = 'category' id = 'category1' name = 'category1'>
					<option value = ''></option>
					<option>%CATEGORY1%</option>
				</select>
			</li>
			<li class = 'category2'>
			<label for = 'category2'>■分類2：</label>
				<select class = 'category' id = 'category2' name = 'category2' >
					<option id='default' value = ''></option>
					<option>%CATEGORY2%</option>
				</select>
			</li>
			<li class = 'buy_date'>
				<label for = 'buy_date'>■購入日：</label>
				<input type="text" class='datepicker' name = 'date_start' size = '10' value=''>～<input type="text" class='datepicker' name = 'date_end' size = '10' value=''>
			</li>
			<li class = 'set_place'>
				<label for = 'set_place'>■設置場所：</label>
				<select name = 'set_place'>
					<option value = ''></option>
					<optgroup label='▼本部･倉庫'>
					<option>%SET_PLACE%</option>
					</optgroup>
					<optgroup label='▼店舗'>
					<option>%STORE%</option>
					</optgroup>
				</select>
			</li>
			<li class = 'department'>
				<label for = 'department'>■使用部署：</label>
				<select name = 'department'>
					<option value = ''></option>
					<option>%DEPARTMENT%</option>
				</select>
			</li>
			<!-- <li class = 'rental'>
			<label for='rental'>■賃借：</label>
				<select name = 'rental'>
					<option value = ''></option>
					<option value = '0'>無し</option>
					<option value = '1'>有り</option>
				</select>
			</li> -->
		</ul>
		<div align = center>
			<table>
				<tr><td><input type = 'submit' class = 'menu_btn' name = 'menu_btn'  value = '検索'></td></tr>
				<tr><td><input type = 'submit' class = 'menu_btn' name = 'menu_btn'  value = '新規登録' onClick="action='asset_manage_entry'"></td></tr>
				<tr><td><input type = 'submit' class = 'menu_btn' name = 'menu_btn'  value = 'リロード' onClick="action='asset_manage_search'"></td></tr>
				<tr><td><input type = 'submit' class = 'menu_btn' name = 'menu_btn'  value = 'メニューに戻る' onClick="action='index'"></td></tr>
			</table>
		</div>
	</form>
	</div>
	<!-- ==検索結果== -->
	<div id="search_list_area" class = 'inline'>
		<table id = 'search_list_title'>
			<col style='width:  8%;' /><col style='width: 10%;' /><col style='width: 10%;' /><col style='width: 12%;' /><col style='width:  8%;' /><col style='width:  8%;' /><col style='width:  8%;' /><col style='width: 10%;' />
			<tr>
				<th>■資産ID</th>
				<th>■管理番号</th>
				<th>■購入チケット</th>
				<th>■購入依頼者</th>
				<th>■購入日</th>
				<th>■購入者</th>
				<th>■最終更新日</th>
				<th class="r_none">■最終更新者</th>
			</tr>
		</table>
		<div id='search_list_scroll_box'>
			<div id='search_list_config'>
				<form method='get'>
				<table id='search_list'>
					<tr><td>%LIST_COL2%</td></tr>
					<tr><td>%SEARCH_LIST%</td></tr>
				</table>
				</form>
			</div>
		</div>
	</div>
	</div>
</body>
</html>