<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>設置場所マスタ管理</title>
<meta http-equiv="Content-Type" CONTENT="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/i18n/jquery.ui.datepicker-ja.js"></script>
<script type="text/javascript"  th:src="@{/js/set_place_master.js}" src="../static/js/set_place_master.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">


<link rel="stylesheet" type="text/css" th:href="@{/css/set_place_master.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/css_reset.css}">

</head>
<body>
<!-- ==ヘッダー=================================================================================================== -->
	<div id = 'header'>
		<br><h1>&nbsp;設置場所マスタ管理</h1>
		<div align = 'right'>
			[[${departmentName}]]&nbsp;[[${displayName}]]
			<br><a th:href="@{/login?logout}">ログアウト</a><br><br>
		</div>
	</div>
	<div class='box' id='listDiv'>
	 	<table>
	 	<tr><td></td><td>ID</td><td>名前</td></tr>
	 	<tr th:each="model : ${modelList}" th:id="${model.id}" >
	 	  <td><button class='edit' th:value="${model.id}">編集</button></td>
          <td th:text="${model.id}" class="id"></td>
          <td th:text="${model.name}" class="name"></td>
        </tr>
		</table>
	</div>
	<div  class='box' id='edit_div'>
	<form method='post' name='input_form' >
	 	<table>
	 		<tr><td>ID</td><td><input type='text' name='id_value' id='id_value' th:value="*{next_id}" readonly></td><td>※入力不可</td></tr>
			<tr><td>名前</td><td><input type='text' name='name_value' id='name_value'></td><td>※10文字まで</td></tr>
			<tr><td><button id='delete' disabled>削除</button></td></tr>
			<tr><td><button id='insert_update'>登録・更新</button></td></tr>
		</table>
			<div><input type='hidden' id='next_id' value="${next_id}"></input></div>
			<div><input type='hidden' name='edit_type' id='edit_type' value=''></input></div>
	</form>
		<div><button id='clear'>クリア</button></div>
	</div>
	<form method='post' >
	<div><input type = 'submit' class = 'menu_btn' name = 'menu_btn'  value = 'メニューに戻る' th:onClick="action='index'; true"></div>
	</form>
</body>
</html>